# alias vim='/home/mglod/github/nvim-linux64/bin/nvim'
# alias vim='nvim'

# alias nvim='/home/mglod/github/nvim-linux64/bin/nvim'

# alias grep='rg'
# alias grep='ripgrep'

# alias cat='bat'
# alias cat='batcat'
